.footer {
    background-color: #772E25;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    /* Hapus atau ubah position fixed */
    position: static; /* Ubah menjadi static atau hapus baris ini */
    bottom: 0;
    left: 0;
}

.footer-left {
    text-align: right;
    margin: 0 1rem;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1rem;
}

.footer-right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-right ul li {
    margin-left: 20px;
}

.footer-right ul li a {
    color: #fff;
    text-decoration: none;
}
